body,
h2,
p {
	margin: 0;
	padding: 0;
}

body {
	background-color: #FFF;
	color: #333;
	font-family: Helvetica, sans-serif;
}

#book {
	background: url("./img/book2.png") no-repeat;
	position: absolute;
	width: 1280px;
	height: 960px;
	left: 50%;
	top: 30%;
	margin-left: -512px;
	margin-top: -200px;
}

#pagesRight section {
	background: url("./img/paper.png") no-repeat;
	display: block;
	width: 490px;
	height: 700px;
	position: absolute;
	left: 639px;
	top: 130px;
	overflow: hidden;
}

#pagesRight section>div {
	display: block;
	width: 490px;
	height: 700px;
	font-size: 12px;
}

#pagesRight section p,
#pagesRight section h2 {
	padding: 3px 35px;
	line-height: 1.4em;
	text-align: justify;
}

#pagesRight section h2 {
	margin: 15px 0 10px;
}

#pagesLeft section {
	background: url("./img/paper.png") no-repeat;
	display: block;
	width: 490px;
	height: 700px;
	position: absolute;
	left: 149px;
	top: 130px;
	overflow: hidden;
}

#pagesLeft section>div {
	display: block;
	width: 490px;
	height: 700px;
	font-size: 12px;
}

#pagesLeft section p,
#pagesLeft section h2 {
	padding: 3px 35px;
	line-height: 1.4em;
	text-align: justify;
}

#pagesLeft section h2 {
	margin: 15px 0 10px;
}

#pageflip-canvas {
	position: absolute;
	z-index: 100;
}